.cart {
    &__wrapper {
        margin-top: 12em;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-top: 5em;
    }

    &__subtitle {
        font-size: 1.3rem;
    }

    &__control-btn {
        display: flex;
        align-items: center;

        span {
            font-weight: 600;
            margin-right: 0.7em;
        }
    }
}

.tickets {
    &__wrapper {
        margin-top: 2.5em;
        display: flex;
        flex-wrap: wrap;
        gap: 2.5em;
    }
}

.ticket {
    width: calc(50% - 1.25em);
    max-height: 12rem;
    height: 100%;
    display: flex;
    overflow: hidden;
    border: 1px solid $silver;

    &__img {
        width: 30%;
    }

    &__content {
        padding: 1.5em;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-family: $PD;
        font-weight: 600;
    }

    &__date-btn {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}
