.events-main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/images/bg-events.png') no-repeat fixed;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    padding-bottom: 10em;

    &__search-form {
        margin-top: 20em;
        position: relative;
        max-width: 40%;
        width: 100%;
    }

    &__input {
        outline: none;
        font-size: 1rem;
        padding: 1.5em;
        font-family: $MT;
        border: none;
        width: 100%;
        color: $gray;

        &::placeholder {
            font-size: 1rem;
        }
    }

    &__btn {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 1.3em;
    }
}

.events-filter {
    &__wrapper {
        border-bottom: 1px solid $silver;
    }

    &__container {
        display: flex;
        align-items: center;
    }

    &__all {
        margin-left: auto;
    }
}

.event-filter {
    cursor: pointer;
    position: relative;

    &__title {
        display: flex;
        align-items: center;
        transition: all 0.2s ease-in-out;
        padding: 1.5em;
        transition: all 0.2s ease-out;
    }

    &__icon {
        margin-left: 0.5em;
        display: flex;
        transition: all 0.2s ease-out;
    }
    &__icon svg path {
        transition: all 0.2s ease-in-out;
    }

    &__splash {
        width: max-content;
        padding: 1.5em;
        background: $brown;
        position: absolute;
        z-index: -1;
        opacity: 0;
        transition: all 0.2s ease-out;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        color: white;
    }

    &__reset-btn {
        margin: 2.5em 0 0 auto;
        color: white;
        text-decoration-color: white;
    }

    &:hover &__title {
        background: $brown;
        color: white;
    }

    &:hover &__icon svg path {
        fill: white;
    }

    &:hover &__icon {
        transform: rotate(180deg);
    }

    &:hover &__splash {
        z-index: 1;
        opacity: 1;
    }

    &__date {
        display: flex;
        align-items: center;
        gap: 1.5em;

        &-field {
            label {
                margin-right: 0.7em;
            }
        }
    }
}

.events {
    &__wrapper {
        margin-top: 8em;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 5em;
    }
}

.event {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-family: $PD;
        font-size: 1.3rem;
        font-weight: 600;
    }

    &__date {
        font-size: 1.3rem;
        font-weight: 900;
    }

    &__about {
        margin-top: 2.5em;
        display: flex;
        gap: 2.5em;
    }

    &__image {
        height: 100%;
        width: 50%;
    }

    &__desc {
        width: 50%;
        display: flex;
        flex-direction: column;

        &-text {
            margin-bottom: 2.5rem;
        }
    }

    &__footer {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: auto;
    }

    &__price {
        font-size: 1.3rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    &__btns {
        display: flex;
        gap: 1.5em;
    }
}

.event-skeleton {
    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        display: block;
        width: 30%;
        height: 1.3em;
        background: $silver;
        @include skeleton;
    }

    &__date {
        display: block;
        width: 15%;
        background: $silver;
        @include skeleton;
    }

    &__about {
        margin-top: 2.5em;
        display: flex;
        gap: 2.5em;
    }

    &__image {
        height: 100%;
        width: 50%;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include skeleton;
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        gap: 1.2em;
        width: 50%;

        &-text {
            @include skeleton;
            height: 1em;

            &:nth-child(1) {
                width: 100%;
            }
            &:nth-child(2) {
                width: 80%;
            }
            &:nth-child(3) {
                width: 60%;
            }
        }
    }

    &__footer {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__price {
        width: 10%;
        height: 1.3em;
        @include skeleton;
    }

    &__btn {
        width: 20%;
        height: 3em;
        @include skeleton;
    }
}
