// header
.main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/images/bg-main.png') no-repeat fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #ffffff;

    &__wrapper {
        display: flex;
        height: 100%;
        align-items: center;
        margin-top: 5em;
    }

    &__title {
        font-family: $PD;
        font-size: 2em;
        margin-top: 0.2em;
        max-width: 40%;
    }

    &__btn {
        margin-top: 2.5rem;
    }
}

.up-events {
    &__wrapper {
        margin-top: 5em;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        text-align: center;
    }

    &__link {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 600;
        margin-top: 5rem;

        svg {
            margin-left: 0.5rem;
        }
    }

    &__events {
        margin-top: 2.5em;
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.6em;
    }

    &__event {
        display: block;
        width: calc(33% - 1.6em);
        cursor: pointer;

        @media (max-width: 1270px) {
            width: 100%;
        }

        &-overlay {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                transition: all 0.2s ease-in-out;
            }
        }

        &-date {
            margin-top: 1.5em;
        }

        &-title {
            margin-top: 0.5rem;
            font-family: $PD;
            font-size: 1.3rem;
            line-height: 1.8;
            font-weight: 500;
            transition: all 0.2s ease-in-out;
        }

        &:hover {
            .up-events__event-title {
                color: $brown;
            }

            .up-events__event-overlay::after {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}

// history
.history {
    &__wrapper {
        margin-top: 5em;
        padding: 5em 0;
        background-color: $light-gray;
    }

    &__cards {
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        gap: 5em;
    }

    &__card {
        display: flex;
        gap: 8em;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }

    &__img-wrapper {
        width: 50%;
    }

    &__card {
        &-desc {
            width: 50%;
            margin-top: 2.5em;
            line-height: 1.6;
        }

        &-title {
            font-family: $PD;
            font-weight: 600;
            font-size: 1.3rem;
        }

        &-about {
            font-size: 1rem;
            margin-top: 1.5rem;
        }
    }
}
