@mixin btn-outline($color: $brown, $hover-bg: $brown, $hover-color: #ffffff) {
    background: none;
    box-shadow: inset 0px 0px 0px 1px $color;
    color: $color;

    &:hover {
        background-color: $hover-bg;
        color: $hover-color;
    }
}
