@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Playfair+Display:wght@500;600;700&display=swap');

// colors
$brown: #916648;
$light-brown: #AD8365;
$gray: #3c3c3c;
$light-gray: #f4f4f4;

// fonts
$PD: Playfair Display, serif;
$MT: Montserrat, sans-serif;
