html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;

    @media (max-width: 1560px) {
        max-width: 90%;
    }
}

.news {
    &__preview {
        width: 250px;
        height: 250px;
        position: relative;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
